
@{
    ViewData["Title"] = "PlanAccion";
}
<link rel="stylesheet" href="~/Content/DataTable/bootstrap.css" />
<link rel="stylesheet" href="~/Content/DataTable/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="~/Scripts/gijgo/gijgo.min.css" />
<link rel="stylesheet" href="~/Scripts/gijgo/gijgo.min.css" />
<link rel="stylesheet" href="~/Content/styles/pageStyles.css" />

<script src="~/Scripts/metodos/customAlert.js"></script>
<script src="~/Scripts/metodos/generarTablas.js"></script>
<script src="~/Content/DataTable/jquery.dataTables.min.js"></script>
<script src="~/Content/DataTable/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/gijgo/gijgo.min.js"></script>
<script src="~/Scripts/jquery-validate/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/PlanAccion/PlanAccion.js"></script>

<style type="text/css">
    .modal-lg {
        max-width: 99% !important;
    }

    .modal-body {
        max-height: calc(100vh - 145px);
        overflow-y: auto;
    }

    .row {
        margin: 10px;
    }

    .tablaObjeto {
        overflow-x: auto;
        overflow-y: auto;
        max-height: 100%;
    }

    .modalRoll {
        overflow-x: auto;
        overflow-y: auto;
        max-height: 495px;
    }

    #item-lb {
        text-align: left;
        margin-top: 0.5em;
        padding: 6px;
        color: darkslategrey;
        font-size: 17px;
    }
</style>

<script type="text/javascript">

    var rootPath = window.location.origin;
    var arrayPlanAccion = ["PlanAccion_ID", "Producto/Servicio",
        "Recursos Necesarios", "Descuentos Ofertas", "Plan de Entrega", "Nombre Responsable", "Producto", "Nivel de Control", "Operaciones"];

    $(document).ready(function () {
        generarTabla();
    });



       //function mayus(e) {
       //     e.value = e.value.toUpperCase();
       // }

</script>

<div class="container-fluid">
    <div class="tab-pane fade show active" id="funcionalidad" role="tabpanel" aria-labelledby="profile-tab">
        <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
            <br />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <div class="pull-left">
                                <h1 class="text-blue">Mantenimiento Plan de Acción</h1>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                        </div>
                    </div>
                    <div class="row">
                        <div id="divPromotions" class="col-sm-2 col-md-2 col-xl-8">
                        </div>
                        <div class="col-sm-2 col-md-2 col-xl-2 pull-right">

                        </div>
                        <div class="col-sm-2 col-md-2 col-xl-2 pull-right">
                            @*<a target="_blank" href="@Url.Action("ExporttoExcel", "GestionRutas")" style="padding:6px" class="btn btn-success btn-block active" id="exportExcel"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Exportar</a>*@
                            <button id="btnFuncionalidad" type="button" class="btn btn-primary btn-block active btn-sec" data-toggle="modal" data-target="#modalCrearPlanAccion">Crear Plan Accion</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tablaObjeto" id="contTable">

            </div>
        </div>
    </div>
</div>

@*-----------MODAL CREAR PLAN DE ACCION-------------*@
<div class="modal fade modal-lg" id="modalCrearPlanAccion" tabindex="-1" role="dialog" aria-labelledby="CrearPlanAccionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CrearPlanAccionModalLabel">Plan Acción</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formCrearPlanAccion" class="validarPlanAccion" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Productos/Servicio:</h5>
                            <input type="text" class="form-control" placeholder="Servicio" id="funcServicio" data-required="true" required
                                   maxlength="50">
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Producto/Servicio es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Recursos Necesarios:</h5>
                            <input type="number" class="form-control" placeholder="Recursos" id="funcRecursos" required>
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Recursos Necesarios es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Descuentos Ofertas:</h5>
                            <input type="text" class="form-control" placeholder="Descuentos" id="funcDescuentos" required>
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Descuentos Ofertas es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Plan de Entrega:</h5>
                            <input type="text" class="form-control" placeholder="PlanEntrega" id="funcPlanEntrega" required>
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Plan de Entrega es requerido</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Nombre de Responsable:</h5>
                            <input type="text" class="form-control" placeholder="Responsable" id="funcResponsable" required>
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Nombre de Responsable es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Producto:</h5>
                            <select class="form-control" id="selectProducto" required>
                                <option value="" disabled selected>Seleccione Producto.</option>
                                @if (ViewBag.Producto != null)
                                {
                                    foreach (var item in ViewBag.Producto)
                                    {
                                        <option value=@item.Id.ToString()> @item.Nombre</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Nivel de Control:</h5>
                            <select class="form-control" id="selectNivelControl" required>
                                <option value="" disabled selected>Seleccione Nivel de Control.</option>
                                @if (ViewBag.Nivelcontroles != null)
                                {
                                    foreach (var item in ViewBag.Nivelcontroles)
                                    {
                                        <option value=@item.Id.ToString()> @item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*-----------MODAL EDITAR PLAN ACCION-------------*@
<div class="modal fade modal-lg" id="modalEditPlanAccion" tabindex="-1" role="dialog" aria-labelledby="EditarPlanAccionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CrearPlanAccionModalLabel">Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formEditPlanAccion" class="validarPlanAccionUpdate" novalidate>
                <input type="text" class="form-control" id="funcId" data-required="true" hidden>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Producto/Servicio:</h5>
                            <input type="text" class="form-control" placeholder="Servicio" id="funcServicioEdit" data-required="true" required
                                   maxlength="50">
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Producto/Servicio es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Recursos Necesarios:</h5>
                            <input type="number" class="form-control" placeholder="Recursos" id="funcRecursosEdit" data-required="true">
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Recursos Necesarios es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Descuentos Ofertas:</h5>
                            <input type="text" class="form-control" placeholder="Descuentos" id="funcDescuentosEdit" required>
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Descuentos Ofertas es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Plan de Entrega:</h5>
                            <input type="text" class="form-control" placeholder="PlanEntrega" id="funcPlanEntregaEdit" required>
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Plan de Entrega es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Nombre Responsable:</h5>
                            <input type="text" class="form-control" placeholder="Responsable" id="funcResponsableEdit" required>
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Nombre de Responsable es requerido</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Producto:</h5>
                            <select class="form-control" id="selectProductoEdit" required>
                                <option value="" disabled selected>Seleccione Producto.</option>
                                @if (ViewBag.Producto != null)
                                {
                                    foreach (var item in ViewBag.Producto)
                                    {
                                        <option value=@item.Id.ToString()> @item.Nombre</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Nivel de Control:</h5>
                            <select class="form-control" id="selectNivelControlEdit" required>
                                <option value="" disabled selected>Seleccione Nivel de Control.</option>
                                @if (ViewBag.NivelControles != null)
                                {
                                    foreach (var item in ViewBag.NivelControles)
                                    {
                                        <option value=@item.Id.ToString()> @item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>