
@{
    ViewData["Title"] = "Campania";
}
<link rel="stylesheet" href="~/Content/DataTable/bootstrap.css" />
<link rel="stylesheet" href="~/Content/DataTable/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="~/Scripts/gijgo/gijgo.min.css" />
<link rel="stylesheet" href="~/Scripts/gijgo/gijgo.min.css" />
<link rel="stylesheet" href="~/Content/styles/pageStyles.css" />

<script src="~/Scripts/metodos/customAlert.js"></script>
<script src="~/Scripts/metodos/generarTablas.js"></script>
<script src="~/Content/DataTable/jquery.dataTables.min.js"></script>
<script src="~/Content/DataTable/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/gijgo/gijgo.min.js"></script>
<script src="~/Scripts/jquery-validate/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Campania/Campania.js"></script>

<style type="text/css">
    .modal-lg {
        max-width: 99% !important;
    }

    .modal-body {
        max-height: calc(100vh - 145px);
        overflow-y: auto;
    }

    .row {
        margin: 10px;
    }

    .tablaObjeto {
        overflow-x: auto;
        overflow-y: auto;
        max-height: 100%;
    }

    .modalRoll {
        overflow-x: auto;
        overflow-y: auto;
        max-height: 495px;
    }

    #item-lb {
        text-align: left;
        margin-top: 0.5em;
        padding: 6px;
        color: darkslategrey;
        font-size: 17px;
    }
</style>

<script type="text/javascript">

    var rootPath = window.location.origin;
    var arrayCampania = ["Campania_ID", "Nombre",
        "Porcentaje", "Tipo Estado", "Tipo Accion", "Operaciones"];

    $(document).ready(function () {
        generarTabla();
    });



       //function mayus(e) {
       //     e.value = e.value.toUpperCase();
       // }

</script>

<div class="container-fluid">
    <div class="tab-pane fade show active" id="funcionalidad" role="tabpanel" aria-labelledby="profile-tab">
        <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
            <br />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <div class="pull-left">
                                <h1 class="text-blue">Mantenimiento de Campaña</h1>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                        </div>
                    </div>
                    <div class="row">
                        <div id="divPromotions" class="col-sm-2 col-md-2 col-xl-8">
                        </div>
                        <div class="col-sm-2 col-md-2 col-xl-2 pull-right">

                        </div>
                        <div class="col-sm-2 col-md-2 col-xl-2 pull-right">
                            @*<a target="_blank" href="@Url.Action("ExporttoExcel", "GestionRutas")" style="padding:6px" class="btn btn-success btn-block active" id="exportExcel"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Exportar</a>*@
                            <button id="btnFuncionalidad" type="button" class="btn btn-primary btn-block active btn-sec" data-toggle="modal" data-target="#modalCrearCampania">Crear Campaña</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tablaObjeto" id="contTable">

            </div>
        </div>
    </div>
</div>
@*-----------MODAL CREAR CAMPANIA-------------*@
<div class="modal fade modal-lg" id="modalCrearCampania" tabindex="-1" role="dialog" aria-labelledby="CrearCampaniaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CrearCampaniaModalLabel">Campaña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formCrearCampania" class="validarCampania" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Nombre:</h5>
                            <input type="text" class="form-control" placeholder="Nombre" id="funcNombre" data-required="true" required
                                   maxlength="50">
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Nombre es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Porcentaje:</h5>
                            <input type="text" class="form-control" placeholder="Porcentaje" id="funcPorcentaje" data-required="true" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Tipo Estado:</h5>
                            <select class="form-control" id="selectTipoEstado" required>
                                <option value="" disabled selected>Seleccione Tipo de Estados.</option>
                                @if (ViewBag.tipoEstados != null)
                                {
                                    foreach (var item in ViewBag.tipoEstados)
                                    {
                                        <option value=@item.Id.ToString()> @item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Tipo Acción:</h5>
                            <select class="form-control" id="selectTipoAccion" required>
                                <option value="" disabled selected>Seleccione Tipo de Accion.</option>
                                @if (ViewBag.tipoAcciones != null)
                                {
                                    foreach (var item in ViewBag.tipoAcciones)
                                    {
                                        <option value=@item.Id.ToString()> @item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*-----------MODAL CREAR CAMPANIA-------------*@
<div class="modal fade modal-lg" id="modalEditCampania" tabindex="-1" role="dialog" aria-labelledby="EditarCampaniaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CrearCampaniaModalLabel">Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formEditCampania" class="validarCampaniaUpdate" novalidate>
                <input type="text" class="form-control" id="funcId" data-required="true" hidden>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Nombre:</h5>
                            <input type="text" class="form-control" placeholder="Nombre" id="funcNombreEdit" data-required="true" required
                                   maxlength="50">
                            <div class="invalid-feedback">
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">Producto es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Porcentaje:</h5>
                            <input type="text" class="form-control" placeholder="Porcentaje" id="funcPorcentajeEdit" data-required="true">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Tipo Estado:</h5>
                            <select class="form-control" id="selectTipoEstadoEdit" required>
                                <option value="" disabled selected>Seleccione Tipo Control.</option>
                                @if (ViewBag.tipoEstados != null)
                                {
                                    foreach (var item in ViewBag.tipoEstados)
                                    {
                                        <option value=@item.Id.ToString()> @item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <h5>Tipo Accion:</h5>
                            <select class="form-control" id="selectTipoAccionEdit" required>
                                <option value="" disabled selected>Seleccione Accion.</option>
                                @if (ViewBag.tipoAcciones != null)
                                {
                                    foreach (var item in ViewBag.tipoAcciones)
                                    {
                                        <option value=@item.Id.ToString()> @item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
